/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight"; 


.answer {visibility: hidden}
.answer-title {margin-top: 40px; color: lightgrey}
.answer-wrapper{margin:10px;
                padding:10px;
                background-color: #eaeaea
   }
.answer-wrapper:hover .answer {visibility: visible}
.answer-wrapper:active .answer {visibility: visible}

.post-content p, .post-content li {
   font-size: 16px;
   color: #515151;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.0);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.0);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit * 2 }
  h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.3);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.5);
    }
  }

  h3 {
    @include relative-font-size(1);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.2);
    }
  }

  h4 {
    @include relative-font-size(0.9);
  }

  h5 {
    @include relative-font-size(0.85);
  }
  h6 {
    @include relative-font-size(0.75);
  }
}
